[Desktop Entry]
Name=WmMount
Comment=Mounts and unmounts file systems
Comment[pl]=Montuje i odmontowuje systemy plików
Exec=wmmount -w -s
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
